@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNew/FuturaNewBook.woff2') format('woff2'),
    url('../fonts/FuturaNew/FuturaNewBook.woff') format('woff'),
    url('../fonts/FuturaNew/FuturaNewBook.ttf') format('truetype'),
    url('../fonts/FuturaNew/FuturaNewBook.svg#FuturaNewBook-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNew';
    src: url('../fonts/FuturaNew/FuturaNewDemi.woff2') format('woff2'),
    url('../fonts/FuturaNew/FuturaNewDemi.woff') format('woff'),
    url('../fonts/FuturaNew/FuturaNewDemi.ttf') format('truetype'),
    url('../fonts/FuturaNew/FuturaNewDemi.svg#FuturaNewDemi-Reg') format('svg');
    font-weight: 500;
    font-style: normal;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'FuturaNew', Helvetica, Arial, sans-serif;
    /*font-family: times, sans-serif;*/
    font-weight: normal;
    font-size: 17px;
    line-height: 24px;
    background: #fff;
    color: #000;
    min-width: 1000px;
}

a:hover,
a:active,
a:focus {
    outline: none;
}

a {
    color: #004fab;
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 79, 171);
    border-bottom-color: rgba(0, 79, 171, 0.2);
}

a:hover {
    color: #004fab;
    border-bottom-color: #004fab;
}

a[href^=tel],
a[href^=mailto] {
    color: inherit !important;
    text-decoration: none !important;
    border: none !important;
}

img {
    vertical-align: middle;
}

a img {
    border: none;
}

p,
ul,
ol,
dl,
pre,
table,
figure,
address,
fieldset,
blockquote {
    margin: 0 0 24px 0;
}

* + p,
* + ul,
* + ol,
* + dl,
* + pre,
* + table,
* + figure,
* + address,
* + fieldset,
* + blockquote {
    margin-top: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 500;
    margin: 0 0 24px 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6,
* + .h1,
* + .h2,
* + .h3,
* + .h4,
* + .h5,
* + .h6 {
    margin-top: 24px;
}

h1,
.h1 {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 28px;
}

h2,
.h2 {
    font-size: 30px;
    line-height: 36px;
}

h3,
.h3 {
    font-size: 24px;
    line-height: 28px;
}

h4,
.h4 {
    font-size: 18px;
    line-height: 24px;
}

h5,
.h5 {
    font-size: 16px;
    line-height: 24px;
}

h6,
.h6 {
    font-size: 14px;
    line-height: 24px;
}

ul,
ol {
    padding: 0 0 0 30px;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    font-weight: 500;
    text-align: left;
}

.clear {
    clear: both;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

.nowrap {
    white-space: nowrap;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.form-row {
    margin-bottom: 11px;
}

.form-label {
    display: block;
    margin-bottom: 1px;
}

.check-row {
    position: relative;
    display: block;
    margin: 11px 0;
    padding-left: 24px;
}

.check-row label {
    cursor: pointer;
    display: block;
}

.check-row input[type=checkbox],
.check-row input[type=radio] {
    position: absolute;
    left: 0;
    top: 6px;
}

.check-row .jq-checkbox,
.check-row .jq-radio {
    position: absolute !important;
    left: 0;
    top: 4px;
}

button,
input[type='reset'],
input[type='submit'],
html input[type='button'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0;
}

input[type='email'],
input[type='file'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
    display: block;
    width: 100%;
    height: 30px;
    padding: 2px 10px;
    font-size: 17px;
    color: #000;
    border: 1px solid #cccccc;
    background-color: #fff;
    border-radius: 3px;
}

input[type='email']:focus,
input[type='file']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
    border-color: rgb(157, 170, 185);
    box-shadow: 0 0 10px rgba(0, 79, 171, 0.2);
}

input[type='email'][disabled],
input[type='file'][disabled],
input[type='password'][disabled],
input[type='search'][disabled],
input[type='tel'][disabled],
input[type='text'][disabled],
input[type='url'][disabled],
textarea[disabled],
select[disabled] {
    background-color: #f5f5f5;
    border-color: #ccc;
    color: #888;
    cursor: default;
    cursor: not-allowed;
}

input[type='email'].error,
input[type='file'].error,
input[type='password'].error,
input[type='search'].error,
input[type='tel'].error,
input[type='text'].error,
input[type='url'].error,
textarea.error,
select.error {
    border-color: #ff0000;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

input[type='checkbox'].error,
input[type='radio'].error {
    outline: 1px dotted #ff0000;
}

label.error {
    display: block;
    color: #ff0000;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: -18px;
}

input[type='file'] {
    padding: 5px;
}

select {
    padding: 2px 2px 2px 10px;
}

textarea {
    height: 100px;
    max-width: 100%;
    min-width: 100%;
}

::-webkit-input-placeholder {
    color: inherit;
}

::-moz-placeholder {
    color: inherit;
}

:-moz-placeholder {
    color: inherit;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

.jq-checkbox,
.jq-radio {
    width: 16px;
    height: 16px;
    margin: 0 4px 0 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background: #fff;
    box-shadow: none;
}

.jq-radio {
    border-radius: 50%;
}

.jq-checkbox.focused,
.jq-radio.focused {
    border: 1px solid #cccccc;
}

.jq-checkbox.error,
.jq-radio.error {
    outline: 1px dotted #ff0000;
}

.jq-checkbox .jq-checkbox__div,
.jq-radio .jq-radio__div {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url('../images/checkbox.png') -9999px -9999px no-repeat !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.jq-checkbox.checked .jq-checkbox__div,
.jq-radio.checked .jq-radio__div {
    background-position: center center !important;
}

.jq-checkbox input,
.jq-radio input {
    top: 0 !important;
}

.btn {
    height: 35px;
    line-height: 35px;
    padding: 0 15px;
    font-size: 17px;
    color: #fff;
    background: #f15f43;
    border: none;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn:hover {
    background: #ff411d;
    color: #fff;
    text-decoration: none;
}

.btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn[disabled],
.btn.disabled {
    opacity: .55;
    cursor: default;
    cursor: not-allowed;
}

.btn_full {
    padding: 0;
    width: 100%;
}

.fancybox-popup .fancybox-skin {
    border-radius: 5px;
    color: inherit;
}

.fancybox-close {
    border: none;
}

.popup-window {
    display: none;
    background: #fff;
    width: 510px;
    max-width: 100%;
    border-radius: 5px;
}

.popup-window__content {
    padding: 30px 30px 17px;
    border-radius: 5px 5px 0 0;
    background: #fef6da;
}

.popup-window__title {
    margin-bottom: 28px;
}

.popup-window__footer {
    padding: 19px 30px 37px;
    border-radius: 0 0 5px 5px;
    background: #f6f3ca;
}

.pass-recovery-input-row {
    max-width: 314px;
    padding-left: 102px;
    position: relative;
}

.pass-recovery-input-row .form-label {
    position: absolute;
    left: 0;
    top: 1px;
    width: 102px;
}

.pass-recovery-btn {
    margin-left: 102px;
}

.ui-slider {
    height: 3px;
    border: none;
    background: #b2b2b2;
    color: #000;
    border-radius: 0;
}

.ui-slider .ui-slider-range {
    border-radius: 0;
    background: #f15f43;
    top: 0;
    bottom: 0;
    height: auto;
}

.ui-slider .ui-slider-handle {
    border-radius: 0;
    width: 20px;
    height: 20px;
    top: -8px;
    left: -10px;
    border: 1px solid #000;
    border-color: rgba(0, 0, 0, 0.1);
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.ui-slider .ui-slider-handle.ui-state-hover,
.ui-slider .ui-slider-handle.ui-state-active {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.wrapper {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    padding-top: 28px;
    padding-bottom: 54px;
    min-height: 106px;
}

.header:after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    border: none;
    margin-right: 20px;
    margin-top: -4px;
}

.logo img {

}

.nav {
    float: left;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item {
    display: inline;
    margin-right: 16px;
}

.nav__link {
    color: #000;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.account-field {
    float: right;
}

.account-link {

}

.content {
    padding-bottom: 60px;
    min-height: calc(100vh - 250px);
}

.login-block {
    max-width: 496px;
    margin: 0 auto;
}

.login-block__content {
    background: #fcf9ee;
    padding: 26px 26px 11px;
}

.login-block__title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
    margin: 0 0 20px 0;
}

.login-block__inputs {
    max-width: 260px;
    margin: 0 auto;
}

.login-block__footer {
    padding: 26px 26px 50px;
    background: #fef6da;
    text-align: center;
}

.login-block__btn {
    min-width: 170px;
    margin-bottom: 5px;
}

.login-block__recovery-link {

}

.billing-block-title {
    padding-top: 25px;
    margin-bottom: 28px;
}

.billing-block {

}

.billing-block__content {
    padding: 44px 40px 40px;
    background: #fcf9ee;
}

.billing-block__content:after {
    content: '';
    display: table;
    clear: both;
}

.billing-block__section {
    float: left;
    width: 50%;
    padding-right: 55px;
}

.billing-block__section + .billing-block__section {
    padding-right: 0;
    padding-left: 44px;
}

.billing-block__section-title {
    margin-bottom: 16px;
}

.billing-block__range {
    float: left;
    width: 50%;
    /*padding-right: 28px;*/
    padding-right: 25px;
}

.billing-block__range-header {
    display: table;
    width: 100%;
    margin-bottom: 16px;
}

.billing-block__range-header-cell {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.billing-block__range-header-cell_input {
    padding: 0 5px;
}

.billing-block__range-header input {
    height: 35px;
    text-align: right;
    padding-left: 3px;
    /*padding-left: 8px;*/
    padding-right: 5px;
}

.billing-block__range-text {
    font-size: 17px;
    line-height: 18px;
}

.billing-block__footer {
    padding: 27px 30px 57px;
    background: #fdf4d5;
    text-align: center;
}

.billing-block__btn {
    height: 40px;
    line-height: 40px;
    background: #f8e71c;
    color: #000;
    font-size: 20px;
}

.billing-block__btn:hover {
    color: #000;
    background: #ffed00;
}

.footer {
    border-top: 1px solid #cccccc;
    padding-top: 18px;
    padding-bottom: 20px;
}

.footer:after {
    content: '';
    display: table;
    clear: both;
}

.footer__copyright {
    float: left;
}

.footer__contacts {
    float: right;
    min-width: 150px;
}

.footer__content {
    margin: 0 250px 0 400px;
}

.invoice {
    border: 1px solid #cccccc;
    padding: 78px 68px 40px 40px;
    min-height: 1343px;
}

.invoice__header {
    margin-bottom: 133px;
}

.invoice__header:after {
    content: '';
    display: table;
    clear: both;
}

.invoice__logo {
    display: block;
    margin-bottom: 16px;
}

.invoice__header-col {
    float: left;
    width: 33.33%;
    padding-right: 20px;
}

.invoice__header-col_1 {
    width: 33.3%;
}

.invoice__header-col_2 {
    width: 46.2%;
}

.invoice__header-col_3 {
    width: 20.5%;
    padding-right: 0;
}

.invoice__title {
    margin: 0 0 6px 0;
}

.invoice__subtitle {

}

.invoice__table {
    margin-bottom: 27px;
}

.invoice__table th {
    border-bottom: 1px solid #cccccc;
    white-space: nowrap;
    padding-bottom: 10px;
    text-align: right;
}

.invoice__table td {
    padding-top: 12px;
    padding-bottom: 1px;
    vertical-align: top;
    text-align: right;
}

.invoice__table th:first-child,
.invoice__table td:first-child {
    text-align: left;
    width: 370px;
}

.invoice__table-total {
    max-width: 410px;
    margin-left: auto;
    text-align: right;
    border-top: 1px solid #cccccc;
    font-weight: 500;
    padding-top: 10px;
    margin-bottom: 18px;
}

.invoice__table-total strong {
    font-weight: 500;
    margin-left: 22px;
}

.invoice__total {
    margin-bottom: 160px;
}

.invoice__signature {
    position: relative;
    width: 370px;
    height: 275px;
    padding-top: 76px;
}

.invoice__signature-text {
    position: relative;
    z-index: 1;
}

.invoice__signature-text-title {
    float: left;
    margin-right: 8px;
}

.invoice__signature-text-description {
    float: right;
    margin-left: 8px;
}

.invoice__signature-text:after {
    content: '';
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 19px;
}

.invoice__signature-stamp {
    position: absolute;
    left: 79px;
    top: 63px;
}

.invoice__signature-signature {
    position: absolute;
    left: 148px;
    top: 0;
}
